.login-box form button {
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px; 
    width: 150px;
}

.btn-black{
    padding: 8px 16px;
    width: 150px;
    border-radius: 999px;
    color: #fff;
    background-color: black;
}